


{{ include('base.html.twig') }}

<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Word Frequency</h1>
    </div>
  </div>
  <div class="container">
    <form action="/result" method="post">
      <div class="form-group">
        <label for="input_word">Introduce the word to find:</label>
        <input type="text" name="input_word" id="input_word" class="form-control">
      </div>
      <button type='submit' class='btn btn-success btn-lg'>Find</button>
      <div class='form-group'>
        <h3 for='sentence'>Introduce the text:</h3>
        <textarea id='sentence' class='form-control' rows='16' placeholder='Enter you text here' name='sentence'></textarea>
      </div>
    </form>
  </div>
</body>
