{{ include('base.html.twig') }}

<body>
  <div class="jumbotron">
    <div class="container">
      <h1 class="header">ðŸ”® WORD FREQUENCY</h1>
    </div>
  </div>
  <div class="container">
    <form action="/result" method="post">
      <div class="form-group">
        <h3><label for="input_word">Introduce the word to find:</label></h3>
        <input type="text" name="input_word" id="input_word" class="form-control" placeholder='ðŸ”Ž'>
      </div>
      <button type='submit' class='btn btn-success btn-lg'>Find the word</button>
      <div class='form-group'>
        <h3 for='sentence'>Introduce the text: </h3>
        <textarea id='sentence' class='form-control' rows='10' placeholder='Enter you text here ðŸ“' name='sentence'></textarea>
      </div>
    </form>
  </div>
</body>
