


{{ include('base.html.twig') }}

<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Word Frequency</h1>
    </div>
  </div>
  <div class="container">
    <a href="/"><button type='submit' class='btn btn-success btn-lg'>Return</button></a>

    {{ result }}
  </div>
</body>
